fabric @ git+https://github.com/Fabric-Development/fabric.git@5ab94b5e64ba342af2ef2abf829d1f2b0d9a032a
hyprpy==0.1.10
loguru==0.7.3
pulsectl==24.12.0
setproctitle==1.3.4
psutil
toml
annotated-types==0.7.0
click==8.1.8
numpy==2.2.4
pycairo==1.27.0
pydantic==2.10.6
pydantic_core==2.27.2
typing_extensions==4.12.2
pyopengl
pygobject3
StyledWidgets @ git+https://github.com/E3nviction/StyledWidgets.git
