fabric @ git+https://github.com/Fabric-Development/fabric.git@5ab94b5e64ba342af2ef2abf829d1f2b0d9a032a
hyprpy==0.1.10
loguru==0.7.3
pulsectl==24.12.0
setproctitle==1.3.4
StyledWidgets @ git+https://github.com/E3nviction/StyledWidgets.git@e9ffac49239e871c7a2fa8e1184ffe3d06d8649c