#env-dock {
}

#dock-box {
    padding: 10px;
	background-color: alpha(#aaa, 0.5);
	border: 1px solid alpha(#ddd, 0.4);
	border-radius: 20px;
}

#dock-seperator {
    border-right: 1px solid alpha(#111, 0.6);
}

.dock-app-button {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 12px;
}

.dock-app-button:hover {
}

.dock-app-button tooltip {
    background-color: #000;
}