*:not(mark) {
	background-color: transparent;
	box-shadow: none;
	border: none;
	font-family: "Fira Mono Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}