#control-center-menu {
	background-color: transparent;
	border-radius: 10px;
	box-shadow: none;
	margin: 0;
}


#control-center-widgets {
	background-color: alpha(#333, 0.7);
	box-shadow: inset 0 0 0 0.5px alpha(#555, 0.7);
	border-radius: 15px;
	padding: .5rem;
}

#top-widget-menu {
	background-color: transparent;
	margin: 0;
	border-radius: 10px;
	margin-top: 5px;
}

/* Widgets */
#wifi-widget,
#bluetooth-widget {
	padding: 10px;
	border-radius: 10px;
}
#wifi-widget:hover,
#bluetooth-widget:hover {
	background-color: alpha(#555, 0.3);
}
#wifi-widget:active,
#bluetooth-widget:active {
	background-color: alpha(#4a4a4a, 0.6);
}

#bluetooth-widget-icon,
#wifi-widget-icon {
	background-color: #2369ff;
	font-size: 15px;
	padding: 20px 20px;
}

#dnd-menu-title,
#bluetooth-widget-title,
#wifi-widget-title {
	font-size: 12px;
	margin-left: 5px;
	font-weight: 700;
}

#bluetooth-widget-label,
#wifi-widget-label {
	font-size: 10px;
	margin-left: 5px;
	font-weight: 400;
	color: #aaa;
}

#dnd-menu,
#wb-menu,
#brightness-widget-menu {
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#dnd-menu {
	margin-right: 5px;
}

#volume-widget-menu {
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#wb-menu,
#dnd-menu,
#brightness-widget-menu,
#volume-widget-menu {
	background-color: alpha(#222, 0.2);
	border: 1px solid alpha(#555, 0.025);
	box-shadow: 0 0 25px alpha(#000, 0.4), 0 0 5px alpha(#000, 0.2);
	border-radius: 10px;
	padding: 0.5rem;
}

#brightness-widget-menu label,
#volume-widget-menu label {
	margin: 0;
	padding: 0;
	font-weight: 600;
	margin-bottom: 10px;
}