@import "envpanel/styles/def.css";
@import "envpanel/styles/buttons.css";
@import "envpanel/styles/dropdown.css";
@import "envpanel/styles/panel.css";
@import "envpanel/styles/power.css";
@import "envpanel/styles/time.css";
@import "envpanel/controlcenter.css";
@import "envpanel/about.css";

#control-center-indicators {
	background-color: alpha(#555, 0.2);
}

#control-center-indicator-row {
	background-color: alpha(#f55, 0.2);
	padding: 0;
	margin: 0;
}