*:not(mark) {
	background-color: transparent;
	box-shadow: none;
	border: none;
	font-family: "Fira Mono Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#env-panel {
	background-color: alpha(#222, 0.2);
}

#date-time {
	background-color: transparent;
	box-shadow: none;
	border: none;
	margin: 0 10px;
}


#control-center-button {
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 2.5px;
	margin-right: 0;
}

#control-center-indicators {
	background-color: alpha(#555, 0.2);
}

#control-center-indicator-row {
	background-color: alpha(#f55, 0.2);
	padding: 0;
	margin: 0;
}

#power-button,
#current_window,
#envsh-button {
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 2.5px;
}

#power-button:hover,
#control-center-button:hover,
#current_window:hover,
#envsh-button:hover {
	background-color: alpha(#555, 0.4);
}

#power-button:active,
#control-center-button:active,
#current_window:active,
#envsh-button:active {
	background-color: alpha(#444, 0.4);
}

#envsh-button label {
	font-size: 17px;
	margin: 0 10px;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

#dropdown-menu {
	background-color: transparent;
	border-radius: 10px;
	margin: 0;
}

#dropdown-options {
	background-color: alpha(#ddd, 0.1);
	border-radius: 10px;
	padding: .5rem;
}


#dropdown-options>#dropdown-option {
	background-color: transparent;
	border-radius: 5px;
	padding: 0px 10px;
	margin: 1px 2px;
	transition: all 200ms ease-in-out;
}

#dropdown-options>#dropdown-option #dropdown-option-label {
	font-size: 12px;
	margin: 0px;
	font-weight: 500;
}

#dropdown-option:hover,
#dropdown-options>#dropdown-option:hover {
	transition: all 0ms ease-in-out;
	background-color: alpha(#888, 0.5);
}


#dropdown-option-label:first-child {
	padding-right: 5rem;
}

#dropdown-option-keybind {
	font-family: "Fira Code Nerd Font";
	font-weight: 500;
}


#dropdown-divider-box {
	background-color: transparent;
	border-radius: 5px;
	padding: 0px 10px;
	margin: 2px;
}
#dropdown-divider {
	border-bottom: 1px solid alpha(#aaa, 0.75);
	margin: 2px 0;
}


#control-center-menu {
	background-color: transparent;
	border-radius: 10px;
	margin: 0;
}

#control-center-widgets {
	background-color: alpha(#bbb, 0.3);
	border: 1px solid alpha(#888, 0.3);
	border-radius: 15px;
	padding: .5rem;
}

#top-widget-menu {
	background-color: transparent;
	border-radius: 10px;
	margin: 0;
	margin-top: 5px;
}

#wifi-widget,
#bluetooth-widget {
	padding: 5px;
}
#wifi-widget:hover,
#bluetooth-widget:hover {
	background-color: #555;
}
#wifi-widget:active,
#bluetooth-widget:active {
	background-color: #4a4a4a;
}

#bluetooth-widget-icon,
#wifi-widget-icon {
	background-color: #2369ff;
	font-size: 15px;
	padding: 10px 10px;
}

#bluetooth-widget-title,
#wifi-widget-title {
	font-size: 12px;
	margin-left: 5px;
	font-weight: 700;
}

#bluetooth-widget-label,
#wifi-widget-label {
	font-size: 10px;
	margin-left: 5px;
	font-weight: 400;
	color: #aaa;
}

#dnd-menu-title {
	font-size: 12px;
	margin-left: 5px;
	font-weight: 700;
}

#dnd-menu,
#wb-menu {
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#brightness-widget-menu {
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
}


#volume-widget-menu {
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#wb-menu,
#dnd-menu,
#brightness-widget-menu,
#volume-widget-menu {
	background-color: alpha(#222, 0.2);
	border: 1px solid alpha(#555, 0.025);
	box-shadow: 0 0 25px alpha(#000, 0.4), 0 0 5px alpha(#000, 0.2);
	border-radius: 10px;
	padding: 0.5rem;
}

#dnd-menu {
	margin-right: 5px;
}

#brightness-widget-menu label,
#volume-widget-menu label {
	margin: 0;
	padding: 0;
	font-weight: 600;
	margin-bottom: 10px;
}

slider {
	background-color: #fff;
	border-radius: 20px;
}

scale {
	background-color: alpha(#333, 0.5);
	border: 1px solid alpha(#555, 0.5);
	border-radius: 20px;
}

#power-button label {
	font-size: 16px;
}

#corner {
	background-color: #000;
	border-radius: 0;
}

#corner-container {
	min-width: 20px;
	min-height: 20px;
}