:vars {
	--placeholder_text_color: #aaa;
}

#light-content {
	padding: 0;
	border-radius: 15px;
	background-color: alpha(#333, 0.7);
}

#light-entry {
	font-size: 20px;
	color: alpha(#fff, 0.8);
}

#light-header {
	padding: 2rem;
	border-bottom: 1px solid #555;
}

#light-suggestions-label {
	padding: 2rem 0 2rem 2rem;
	font-size: 14px;
	color: alpha(#fff, 1.0);
}