.button {
	border-radius: 15px;
	padding: 0px 10px;
	margin: 3px -2.5px;
	min-width: 30px;
	background: radial-gradient(alpha(#aaa, 0.0) 0%, transparent, transparent);
	transition: all 100ms ease-in-out;
}

.button.active,
.button:hover {
	background: alpha(#fff, 0.2);
}

/* EnvSH Button */

#envsh-button label {
	font-size: 17px;
	margin: 0 10px;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}
