.button {
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 2.5px;
	background: radial-gradient(alpha(#aaa, 0.0) 0%, transparent, transparent);
	transition: all 100ms ease-in-out;
}

.button.active,
.button:hover {
	background: radial-gradient(alpha(#aaa, 0.2) 100%, transparent, transparent);
}

/* EnvSH Button */

#envsh-button label {
	font-size: 17px;
	margin: 0 10px;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}